@charset "utf-8";
/*
 * project/_top.scss
 */
.heading {
	padding: 10px 0 10px 10px;
}
.navigation {
	position: relative;
	display: block;
	height: 41px;
	padding-bottom: 20px;
}

.c-nav-list {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 41px;
		margin-left: -8px;
		border: 8px solid transparent;
		border-top-color: #333333;
		transition: left .3s;
	}
	&.is-one {
		&:after {
			left: 16.66%;
		}
		.c-nav-list__item:nth-child(2),
		.c-nav-list__item:last-child {
			color: #dfdfdf;
		}
	}
	&.is-two:after {
		&:after {
			left: 49.99%;
		}
		.c-nav-list__item:first-child,
		.c-nav-list__item:last-child {
			color: #dfdfdf;
		}
	}
	&.is-three:after {
		&:after {
			left: 83.32%;
		}
		.c-nav-list__item:first-child,
		.c-nav-list__item:nth-child(2) {
			color: #dfdfdf;
		}
	}
}

.c-nav-list__item {
	position: relative;
	float: left;
	width: 33.33%;
	padding: 14px 0 12px;
	background-color: #333333;
	color: #ffffff;
	@include fs14;
	font-weight: bold;
	text-align: center;
}

.c-list {
	border-bottom: 1px solid #dfdfdf;
}
.c-list__item {
	position: relative;
	padding: 10px 10px;
	border-top: 1px solid #dfdfdf;
	.text {
		color: #666666;
		@include fs14;
	}
}

.c-img-wraper {
	float: left;
	width: 16%;
	height: 16%;
	margin-right: 2%;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
}

.c-group-info {
	float: left;
	width: 82%;
}

